build/*
main/localpreferences.txt
testfiles/
adevs/*
/sim.dot
/sim.dot.svg
/out.txt
/phold.txt
/pholdtree.log
/pholdtree.txt
/trng/src/config.hpp
/trng/dist
/tcmalloc/dist
/publications/Journal/fig/*eps-converted-to.pdf
/publications/Journal/*.aux
/publications/Journal/*.log
/publications/Journal/*.synctex.gz
/publications/Journal/*.bbl
/publications/Journal/*.blg
/publications/Journal/*.out
